<div class="bgx">
    <section class="content-height">
        <div class="container vertical-center">
            <div class="row">
               <div class="col-md-3"></div>
                <div class="col-md-6 m-auto">
                    <div class="card login-card">
                        <div class="card-body">
                          <div class="row">
                              <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mt-2">
                                  <h5 class="title-login mb-3 mt-3">MR Capture</h5>
                                  <p class="text-center mt-2"><img src="assets/images/MunichRe.svg"></p>
                                  <h5 class="title-login-text">Reset Password </h5>

                                  <div class="p-fluid p-grid mt-3">
                                        <div class="p-field p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input type="text" id="inputtext" pInputText [(ngModel)]="value1"> 
                                                <label for="inputtext">New Password</label>
                                            </span>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input type="text" id="inputtext" pInputText [(ngModel)]="value2"> 
                                                <label for="inputtext">Confirm Password</label>
                                            </span>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <button class="btn btn-block btn-login btn-lg">Reset Password</button>
                                            <!-- <p class="text-forgot mt-3 pointer" routerLink="/">Forgot Password ?</p> -->
                                        </div>
                                    </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3"></div>
            </div>
        </div>
    </section>
  
</div>