.bgx {
    background-image: url('/assets/images/Path1.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-height {
    height: 100vh;
    z-index: -1;
}
.content-height:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: url('/assets/images/Group-2.svg') bottom left no-repeat;
    width: 20%;
    height: 40%;
    z-index: -1;
}
.login-card{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    z-index: 99999;
    width:530px;
    display: flex;  
    flex-direction: column;
}
.vertical-center {
    position: relative;
    top: 15%;
}
.content-height:after {
    position: absolute;
    content: "";
    right: 0px;
    top: 15px;
    background: url('/assets/images//Group-1.svg') top right no-repeat;
    width: 270px;
    height: 228px;
    z-index: 1;
}

.title-login{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 20px;
color: #175788;
text-align: center;
}
.title-login-text{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 20px;
color: #272B2E;
text-align: center;
margin-top: 30px;
}
::ng-deep.p-float-label {
    display: block;
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #272B2E;
    opacity: 1;
}
::ng-deep.p-md-4 {
    padding: 1rem!important;
}
::ng-deep.p-float-label .p-inputwrapper-filled~label, .p-float-label .p-inputwrapper-focus~label, .p-float-label input.p-filled~label, .p-float-label input:focus~label, .p-float-label textarea.p-filled~label, .p-float-label textarea:focus~label{
    top: -2px!important;
    left: 15px!important;
    font-size: 14px!important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    color: #272B2E;
    opacity: 1;
    background: #fff!important;
} 
.btn-login{
    background: #42A2BB;
    border-radius: 6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    height: 53px;
    line-height: 22px;
    color: #FFFFFF;
}
.text-forgot{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #175788;
}
.tick_check
{
    position: relative;
    left: -52px;
    top: 9px;
    font-size: 35px;
    color: #fff;
}
/* ::ng-deep.p-inputtext {
    margin: 0px 6px;
} */
::ng-deep.p-fluid .p-inputtext {
    width: 100%;
    height: 53px;
}
::ng-deep.p-inputtext {
    color: #495057;
    background: #ffffff;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgb(39 43 46 / 30%);
    appearance: none;
    border-radius: 3px;
}
::ng-deep.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2px rgb(39 43 46 / 30%);
    border-color: rgb(39 43 46 / 30%);
}
