:host .filter-card-title {
  font-weight: 700!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.2;
    margin: -8px -8px;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px 6px 0px 0px;
    transition: all .5s ease-in-out;
    color: #fff;
    background-color: #858687;
}

:host .toggle-img-area {
    border: 2px solid;
    padding: 8px;
    height: 27px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #424345;
    transition: all .5s ease-in-out;
}

:host-context(.munichre) .filter-card-title.close-toggle {
    background-color: #175788;
}

:host-context(.saksham) .filter-card-title.close-toggle {
    background-color: #e32027;
}

:host .filter-card-title.close-toggle .toggle-img-area{
  border-color: #fff;
}

:host .filter-card-title .toggle-img {
  transition:  all .5s ease-in-out;
  filter: invert(1);
  transform: rotate(90deg);
}

:host .filter-card-title.close-toggle .toggle-img {
  filter: none;
  transform: rotate(271deg);
}
.download{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;
}



.form-control.daterange {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 8px) !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

::ng-deep.md-drppicker.double {
  width: 634px !important;
  margin-left: -22px !important;
  margin-top: 0px !important;
}

::ng-deep .md-drppicker .clear-button .clear-icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  pointer-events: none;
  top: 0.125em;
  position: relative;
  display: none;
}
::ng-deep.md-drppicker.inline {
  position: relative;
  background: #fff;
  display: inline-block;
}
::ng-deep.md-drppicker .ranges ul li button {
padding: 8px 12px;
width: 100%;
background: 0 0;
border: none;
text-align: left;
cursor: pointer;
outline: 0;
}
::ng-deep.ranges > ul > li > button.active {
background-color: #e32027 !important;
color: #f8f9fa;
}
::ng-deep.md-drppicker td.start-date {
border-radius: 2em 0 0 2em;
}
::ng-deep.md-drppicker .calendar td, .md-drppicker .calendar th {
padding: 1px;
white-space: nowrap;
text-align: center;
min-width: 32px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

::ng-deep.md-drppicker td.start-date {
color: #fff;
background-color: #e32027 !important;
}
::ng-deep.md-drppicker td {
margin: 0.25em 0;
transition: 450ms cubic-bezier(.23,1,.32,1);
border-radius: 2em;
transform: scale(1);
}
::ng-deep.md-drppicker td, .md-drppicker th {
text-align: center;
border-radius: 4px;
white-space: nowrap;
cursor: pointer;
height: 2em;
width: 2em;
}

::ng-deep.md-drppicker td.end-date {
border-radius: 0 2em 2em 0;
}
::ng-deep.md-drppicker td.in-range {
border-radius: 0;
}
::ng-deep.md-drppicker .calendar td, .md-drppicker .calendar th {
padding: 1px;
white-space: nowrap;
text-align: center;
min-width: 32px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
::ng-deep.md-drppicker td.end-date {
color: #fff;
background-color: #e32027;
}
::ng-deep.md-drppicker td {
margin: 0.25em 0;
transition: 450ms cubic-bezier(.23,1,.32,1);
border-radius: 2em;
transform: scale(1);
}
::ng-deep.md-drppicker td, .md-drppicker th {
text-align: center;
border-radius: 4px;
white-space: nowrap;
cursor: pointer;
height: 2em;
width: 2em;
}
::ng-deep.form-select option:hover{
  background-color: #e32027!important;
}
::ng-deep.tooltip-inner {
min-width: 300px!important;
padding: 0.25rem 0.5rem;
color: #000;
text-align: center;
background-color: #fff;
border-radius: 0.25rem;
box-shadow: 0 0 11px rgb(0 0 0 / 13%);
}
::ng-deep.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
bottom: 0;
border-width: 0 0.4rem 0.4rem;
border-bottom-color: #fff!important;
}