<div class="row">
   <ng-container *ngIf="loader">
      <div class="text-center">
         <div class="loader">
            <img class="img_rotate" src="./{{assetsFolder}}/images/new_loader.gif">
         </div>
      </div>
   </ng-container>
   <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
         <div class="card-body">
            <div class="d-flex float-left">
               <h5 class="add-title font-16px mt-1">Agencies ({{agencyList.length}})</h5>
               <button class="btn btn-sm btn_apply mr-3 ml-3 text-white" routerLink="/agency/add-agency"><i
                     class="fa fa-plus"></i> Add Agency</button>
            </div>
            <div class="d-flex float-right mb-2">
               <div class="input-group rounded">
                  <input type="search" class="form-control rounded" pInputText type="text"
                     (input)="dt1.filterGlobal(getEventValue($event), 'startsWith')" placeholder="Search agency"
                     aria-label="Search" aria-describedby="search-addon" />
                  <span class="input-group-text ml-2" id="search-addon">
                     <i class="fas fa-search"></i>
                  </span>
                  <span class="input-group-text ml-2" (click)="exportTable(agencyList, 'Agencies')"
                     style="cursor: pointer;">
                     <i class="fas fa-download"></i>
                  </span>
               </div>
            </div>
            <div class="table-responsive">
                <p-table [value]="agencyList" id="agencyList" #dt1 [globalFilterFields]="['agency_name','client.UNIT_NAME','phone', 'statusName','poc_email']"  [rows]="10" [showCurrentPageReport]="true" 
               [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"> 
                  <ng-template pTemplate="header">
                     <tr>
                        <th width='75'>S.No.</th>
                        <th width='150'>Agency Name</th>
                        <th *ngIf="projectContext === 'munichre'">Client</th>
                        <th>Address</th>
                        <th width='150'>Contact No.</th>
                        <th>POC Name</th>
                        <th>POC Email</th>
                        <th>Document</th>
                        <th width='120'>Status</th>
                        <th width='90' *ngIf="!downloading">Action </th>
                     </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-agency>
                     <tr>
                        <td>{{agency.sno}}</td>
                        <td>{{agency.agency_name}}</td>
                        <td *ngIf="projectContext === 'munichre'">{{agency.client?.UNIT_NAME}}</td>
                        <td class="truncate">{{agency.address || 'N/A'}}</td>
                        <td>{{agency.phone || 'N/A'}}</td>
                        <td>{{agency.poc_name || 'N/A'}}</td>
                        <td>{{agency.poc_email || 'N/A'}}</td>
                        <td class="text-center" *ngIf="!downloading"> <span role="link" (click)="viewDocument(agency)"
                              *ngIf="agency.document" class="ml-2"><img src="./{{assetsFolder}}/images/eye.svg" height="30"
                                 alt="download button"></span> <span *ngIf="!agency.document">N/A</span></td>
                        <td [ngStyle]="{'color':agency.status == 2 ? 'orange' : agency.status == 1 ? 'green' : 'red' }">
                           {{agency.statusName}}</td>
                        <td *ngIf="!downloading" class="text-center">
                           <div ngbDropdown class="d-inline-block" style="position: absolute; margin-top: -12px;">
                              <span class="ponter add-title" id="dropdownBasic1" ngbDropdownToggle> <img
                                    src="{{assetsFolder}}/images/Options-vertical.svg"></span>
                              <div ngbDropdownMenu class="dropdown_agency1" aria-labelledby="dropdownBasic1">
                                 <a href="javascript:void(0)" (click)="open(content,agency)">
                                    <label ngbDropdownItem>
                                       <img src="{{assetsFolder}}/images/Edit_Blue.svg" height="18px"> Edit Agency
                                    </label>
                                 </a>
                                 <a href="javascript:void(0)" (click)="changeStatus(agency, 1)"
                                    *ngIf='agency.status != 1'>
                                    <label ngbDropdownItem>
                                       <img src="{{assetsFolder}}/images/Edit_Blue.svg" height="18px">
                                       Activate
                                    </label>
                                 </a>
                                 <a href="javascript:void(0)" (click)="changeStatus(agency, 0)"
                                    *ngIf='agency.status != 0'>
                                    <label ngbDropdownItem>
                                       <img src="{{assetsFolder}}/images/Edit_Blue.svg" height="18px"> Inactivate
                                    </label>
                                 </a>
                              </div>
                           </div>
                        </td>
                     </tr>
                  </ng-template>
               </p-table>
            </div>
         </div>
      </div>
   </div>
</div>
<div>
   <ng-template #content let-modal>
      <div class="modal-header">
         <h4 class="modal-title" id="modal-basic-title">Edit Agency</h4>
         <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
         <form class="form-group">
            <div class="row">

               <div class="col-md-6 form-group">
                  <label>Agency Name</label> <span class="text-danger">*</span>
                  <input type="text" name="name" class="form-control" [(ngModel)]="selectedAgency.name">
               </div>
               <div class="col-md-6 form-group">
                  <label>Phone</label> <span class="text-danger">*</span>
                  <input type="text" name="phone" class="form-control" [(ngModel)]="selectedAgency.phone">
               </div>
               <div class="col-md-12 form-group">
                  <label>Address</label> <span class="text-danger">*</span>
                  <textarea id="address" [(ngModel)]="selectedAgency.address" [ngModelOptions]="{standalone: true}"
                     rows="1" cols="30" class="form-control" pInputTextarea></textarea>
               </div>
               <div class="col-md-6 form-group">
                  <label>POC Name</label> <span class="text-danger">*</span>
                  <input type="text" name="pocname" class="form-control" [(ngModel)]="selectedAgency.pocname">
               </div>
               <div class="col-md-6 form-group">
                  <label>POC Email</label> <span class="text-danger">*</span>
                  <input type="text" name="pocemail" class="form-control" [(ngModel)]="selectedAgency.pocemail">
               </div>


            </div>
            <div class="row mt-2">
               <div class="col-md-12">
                  <button type="button" class="btn btn-danger float-right"
                     (click)="modal.close('Save click')">Close</button>
                  <button type="submit" class="btn btn-success float-right mr-1" (click)="update()">Update</button>
               </div>
            </div>
         </form>
      </div>
   </ng-template>
</div>