<div class="row mb-2">
    <div class="col-sm-12 col-md-12 co-lg-12">
        <h4 class="title">{{proposal_title}}</h4>
    </div>
</div>
<app-proposal-wise-management [url_id]="proposal_url_id" [surveyName]="proposal_surveyName" [dataPurpose]="proposal_dataPurpose" [searchPurpose]="proposal_searchPurpose" [surveyId]="proposal_surveyId" [canApprove]="proposal_canApprove" [canReject]="proposal_canReject" [canPending]="proposal_canPending" [parentSurveyId]="proposal_parentSurveyId" [showApproveColumn]="proposal_showApproveColumn" [excelDownloadPurpose]="proposal_excelDownloadPurpose" [showDateType]="proposal_showDateType" [showCrop]="proposal_showCrop" [showInactiveUser]="proposal_showInactiveUser" [surveyStatus]="proposal_surveyStatus" [canViewData]="proposal_canViewData"></app-proposal-wise-management>