:host-context(.saksham) .bgx {
  background-image: url('../../assets/saksham/images/Path1.svg') !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

:host-context(.saksham) .content-height:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: url('../../assets/saksham/images/Group-2.svg') bottom left no-repeat !important;
  width: 20%;
  height: 40%;
  z-index: -1;
}

:host-context(.saksham) .content-height:after {
  position: absolute;
  content: "";
  right: 0px;
  top: 15px;
  background: url('../../assets/saksham/images/Group-1.svg') top right no-repeat !important;
  width: 270px;
  height: 228px;
  z-index: 1;
}

:host-context(.munichre) .bgx {
  background-image: url('../../assets/munichre/images/Path1.svg') !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

:host-context(.munichre) .content-height:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: url('../../assets/munichre/images/Group-2.svg') bottom left no-repeat !important;
  width: 20%;
  height: 40%;
  z-index: -1;
}

:host-context(.munichre) .content-height:after {
  position: absolute;
  content: "";
  right: 0px;
  top: 15px;
  background: url('../../assets/munichre/images/Group-1.svg') top right no-repeat !important;
  width: 270px;
  height: 228px;
  z-index: 1;
}

.content-height {
  height: 100vh;
  z-index: -1;
}

.login-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: 99999;
  width: 530px;
  display: flex;
  flex-direction: column;
}

.vertical-center {
  position: relative;
  top: 15%;
}

.title-login {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: #175788;
  text-align: center;
}

.title-login-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: #272B2E;
  text-align: center;
  margin-top: 5px;
}

::ng-deep .p-float-label {
  display: block;
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #272B2E;
  opacity: 1;
}

::ng-deep .p-md-4 {
  padding: 1rem !important;
}

::ng-deep .p-float-label .p-inputwrapper-filled~label,
::ng-deep .p-float-label .p-inputwrapper-focus~label,
::ng-deep .p-float-label input.p-filled~label,
::ng-deep .p-float-label input:focus~label,
::ng-deep .p-float-label textarea.p-filled~label,
::ng-deep .p-float-label textarea:focus~label {
  top: -2px !important;
  left: 15px !important;
  font-size: 14px !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #272B2E;
  opacity: 1;
  background: #fff !important;
}

.btn-login {
  background: #e5363c;
  border-radius: 6px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  height: 53px !important;
  line-height: 22px;
  color: #FFFFFF;
}

.saksham-btn {
  background: #e5363c;
}

.munichre-btn {
  background: #42A2BB;
}

.text-forgot {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #175788;
}

::ng-deep .p-float-label label {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 15px;
  background: #fff;
  margin-top: -.5rem;
  transition-property: all;
  transition-timing-function: ease;
  line-height: 1;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .1rem rgb(186 148 111);
}

:host-context(.munichre) a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

:host-context(.saksham) a {
  color: #EF898d;
  text-decoration: none;
  background-color: transparent;
}

::ng-deep .p-fluid .p-inputtext {
  width: 100%;
  height: 53px;
  padding-left: 14px;
}

::ng-deep .p-inputtext {
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid rgb(39 43 46 / 30%);
  appearance: none;
  border-radius: 3px;
}

::ng-deep .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2px rgb(39 43 46 / 30%);
  border-color: rgb(39 43 46 / 30%);
}

::ng-deep .swal2-container-high-z {
  z-index: 100000 !important;
}