:host .card-header {
    padding: 1rem 1rem !important;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0px !important
}
:host-context(.munichre) a {
    color: #175788;
    text-decoration: none;
    background-color: transparent;
}
:host-context(.saksham) a {
    color: #ef898d;
    text-decoration: none;
    background-color: transparent;
}
:host .upload-box {
    width: 100%;
    min-height: 100px;
    border: 2px dashed;
    border-radius: 5px;
    border-color: #0005;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

:host .upload-box:hover {
    border-color: #000;
}

:host .upload-box .message-area {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000000a3;
    transition: all .3s ease-in-out;
}

:host .upload-box:hover .message-area {
    color: #000;
}

:host .upload-box .message-area .h4, :host .upload-box .message-area small {
    font-weight: bolder;
}

:host .upload-box .uploadfield {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}