
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .upload_btn {
        border: none;
        background-color: transparent;
        padding: 8px 20px;
        border-radius: 8px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #272B2E;
  }
  
  .upload_box{
    background: #FBFBFB;
    opacity: 0.8;
    border: 1px dashed rgba(39, 43, 46, 0.3);
    border-radius: 4px;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .img_size{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #272B2E;
    opacity: 0.4;
    text-align: center;
  }
  .text-support{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #272B2E;
    opacity: 0.4;
  }
  .form-control.input_type{
    background: #f8f9fa;
    border: 1px solid #272b2e4d;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 35px;
  }
  

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    opacity: 1;
    color: #272B2E!important;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #272B2E;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #272B2E;
  }
  .fixed-bottom1{
        position: fixed;
        right: 0;
        bottom: -24px;
        left: 0;
        z-index: 1030;
  }
  .btn-cancel{
    background: #FFFFFF;
    border: 1px solid #42A2BB;
    box-sizing: border-box;
    border-radius: 6px; 
    margin-right: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #42A2BB;
  }
  .btn-next{
    font-family: Open Sans;
    font-style: normal;
    background: #42A2BB;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
  }

  ::ng-deep.p-float-label .p-inputwrapper-filled~label, .p-float-label .p-inputwrapper-focus~label, .p-float-label input.p-filled~label, .p-float-label input:focus~label, .p-float-label textarea.p-filled~label, .p-float-label textarea:focus~label{
    top: 0px!important;
    left: 15px!important;
    font-size: 12px!important;
    background: aliceblue!important;
} 
::ng-deep.p-dropdown {
    background: #f8f9fa;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    margin-bottom: 35px;
}

:host .p-error {
  color: #f44336;
  position: absolute;
  top: 40px;
}



