
<form id="userForm" method="post" autocomplete="off" [formGroup]="userForm" (ngSubmit)="onUpdate()">
  <input type="hidden" [name]="csrfTokenName" formControlName="csrf_token" [value]="csrfToken" />

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h5 class="add-title pointer"> Change Password </h5>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8"></div>
    <div class="col-sm-12 col-md-12 col-lg-6 mt-4">
        <div class="p-fluid p-grid">
            <div class="p-field">
                <span class="p-float-label">
                  <input type="password" id="currentPassword" name="currentPassword" class="form-control input_type p-inputtext" pInputText formControlName="currentPassword" autocomplete="off"/>
                  <label for="Current Password">Current Password</label>
                </span>
                <ng-container *ngIf="getForm('currentPassword')?.touched && getForm('currentPassword')?.errors">
                  <small class="p-error block" *ngIf="getForm('currentPassword')?.errors?.required">Current Password is required</small>
                </ng-container>
              </div>
            <div class="p-field">
                <span class="p-float-label">
                  <input type="password" id="newPassword" name="newPassword" class="form-control input_type p-inputtext" pInputText formControlName="newPassword" autocomplete="off"/>
                  <label for="New Password">New Password</label>
                  <ng-container *ngIf="getForm('newPassword')?.touched && getForm('newPassword')?.errors">
                    <small class="p-error block" *ngIf="getForm('newPassword')?.errors?.required">New Password is required</small>
                    <small class="p-error block" *ngIf="getForm('newPassword')?.errors?.pattern">New Password must be atleast 8 digit with upper case , lower case and special symbol  </small>
                  </ng-container>
                </span>
              </div>
            <div class="p-field">
              <span class="p-float-label">
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control input_type p-inputtext" pInputText formControlName="confirmPassword" autocomplete="off"/>
                <label for="Confirm Password">Confirm Password</label>
                <ng-container *ngIf="getForm('confirmPassword')?.touched && getForm('confirmPassword')?.errors">
                  <small class="p-error block" *ngIf="getForm('confirmPassword')?.errors?.required">Confirm Password is required</small>
                </ng-container>
              </span>
            </div>
        </div>
    </div>
  </div>

  <div class="row mb-5 mt-5"></div>
  <div class="row mb-5"></div>

  <div class="row mt-4">
      <div class="col-sm-12 col-md-12">
          <div class="fixed-bottom1">
              <div class="card">
                  <div class="card-body">
                      <button class="btn btn-info float-right btn-next" type="submit" [disabled]="loading">{{loading ? 'Loading...' : 'Update'}}</button>
                      <button class="btn btn-default float-right btn-cancel" type="reset">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

</form>






