.list-group-item.title {
    z-index: 2;
    color: #fff;
    background-color: #e32027;
    border-color: #e32027;
    position: sticky;
    top: 0px;
}


ul {
    margin-left: 20px;
}
.wtree li {
    list-style-type: none;
    margin: 10px 0 10px 10px;
    position: relative;
}
.wtree li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -20px;
    border-left: 1px solid #ddd;
    /* border-bottom: 1px solid #ddd; */
    width: 20px;
    /* height: 30px; */
    height: 100%;
}
.wtree li:after {
    position: absolute;
    content: "";
    top: 18px;
    left: -20px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: 20px;
    height: 100%;
}
.wtree li:last-child:after {
    display: none;
}
.wtree li span {
    /* display: block;*/
    /* border: 1px solid #ddd; */
    /* padding: 7px;
    color: #888;
    text-decoration: none;  */
    display: block;
    padding: 11px 19px 4px 11px;
    border-radius: 10px;
    color: #888;
    text-decoration: none;
}
/* .wtree li span:hover, .wtree li span:focus {
    background: #eee;
    color: #000;
    border: 1px solid #aaa;
}
.wtree li span:hover + ul li span, .wtree li span:focus + ul li span {
    background: #eee;
    color: #000;
    border: 1px solid #aaa;
}
.wtree li span:hover + ul li:after, .wtree li span:focus + ul li:after, .wtree li span:hover + ul li:before, .wtree li span:focus + ul li:before {
    border-color: #aaa;
} */

/* .list-group-item {
    position: relative;
    display: block;
    padding: 13px 20px 2px 22px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
} */

/* .list-group-item:nth-child(odd) { background: #e320270d; } */
