<ng-container *ngIf="loader">
    <div class="text-center">
       <div class="loader">
          <img class="img_rotate" src="./assets/images/new_loader.gif">
       </div>
    </div>
 </ng-container>

 <div class="row">
    <div class="col-sm-12 col-md-12 co-lg-12">
        <h4 class="title">Live Users</h4>
    </div>
    <div class="col-sm-12 col-md-12 co-lg-12">
        <div class="card">
           <div class="card-body">
            <table class="table table-hover tbl_header">
               <thead>
                 <tr>
                   <th>User name</th>
                   <th>Phone</th>
                   <th>Client name</th>
                   <th>Agency name</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>User 1</td>
                   <td>9876543210</td>
                   <td>Client 1</td>
                   <td>Agency 1</td>
                 </tr>
                 <tr>
                  <td>User 2</td>
                  <td>9876543210</td>
                  <td>Client 2</td>
                  <td>Agency 2</td>
                </tr>
                <tr>
                  <td>User 3</td>
                  <td>9876543210</td>
                  <td>Client 3</td>
                  <td>Agency 3</td>
                </tr>
               </tbody>
             </table>
           </div>
        </div>
     </div>
 </div>