<ng-container *ngIf="loader">
    <div class="text-center">
        <div class="loader">
            <img class="img_rotate" src="{{assetsFolder}}/images/new_loader.gif">
        </div>
    </div>
</ng-container>

<div class="row mt-2">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h5 class="add-title">
            <button class="btn btn-sm btn-back mr-2" title="Back" routerLink="/users/user-mangement">
                <img loading="lazy" src="{{assetsFolder}}/images/icon-left-arrow.svg">
            </button> Map Agency
        </h5>
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header bg-white">
                <h2 class="add-title mb-0">Map Agencies and Location</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div *ngIf="projectContext === 'munichre' && !loggedUser?.unit_id"  class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label>Client</label>
                            <select class="form-control" [(ngModel)]="selectedClient" (ngModelChange)="onClientSelect($event)">
                                <option value="" >Select Client</option>
                                <option *ngFor="let client of clients" [value]="client.UNIT_ID">{{client.UNIT_NAME}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12" [ngClass]="loggedUser?.unit_id ? 'col-md-12 col-lg-12' : 'col-md-6 col-lg-6'">
                        <div class="form-group">
                            <label>Agency</label>
                            <select class="form-control" [(ngModel)]="selectedAgency" (ngModelChange)="clearLocationData()" [disabled]="!(!agencyLoader)">
                                <option value="" >Select Agency</option>
                                <option *ngFor="let agency of agencies" [value]="agency.agency_id">{{agency.agency_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label>Select Season</label>
                                    <select class="form-control" [(ngModel)]="selectedSeason" (ngModelChange)="clearLocationData()">
                                        <option value="">Select Season</option>
                                        <option *ngFor="let data of seasons" [value]="data.id">{{data.season_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label>Select Year</label>
                                    <select class="form-control" [(ngModel)]="selectedYear" (ngModelChange)="clearLocationData()">
                                        <option value="">Select Year</option>
                                        <option *ngFor="let data of years" [value]="data.id">{{data.year}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2 col-lg-2 pt-2">
                                <button class="btn btn_apply text-white mt-4 w-100" (click)="onSearchClick()">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="states?.length">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header bg-white">
                <h2 class="add-title mb-0">Agency Location Assignment </h2>
            </div>
            <div class="card-body">
                <div class="row mt-4">
                    <div class="col-12">
                        <label>Modify Location Assignment - <a role="link" class="allLoc text-success" (click)="assignAllLocation()">Assign All
                                Locations</a></label>
                        <ul class="tree row">
                            <li class="col-lg-3 col-md-4 col-sm-6" *ngFor="let state of states">
                                <input type="checkbox" [(ngModel)]="state.checked"
                                    (ngModelChange)="onStateChanged($event, state)" [indeterminate]="state.indeterminate">
                                <label (click)="state.collapse= !state.collapse">
                                    {{state.state_name}}
                                    <span class="total"
                                        *ngIf="state?.districts?.length">({{state?.districts?.length}})</span>
                                </label>
                                <ul *ngIf="state?.districts?.length" [(ngbCollapse)]="state.collapse">
                                    <li *ngFor="let district of state.districts">
                                        <input type="checkbox" [(ngModel)]="district.checked"
                                            (ngModelChange)="onDistrictChange($event, district)" [indeterminate]="district.indeterminate">
                                        <label (click)="district.collapse= !district.collapse">
                                            {{district.district_name}}
                                            <span class="total"
                                                *ngIf="district?.tehsils?.length">({{district?.tehsils?.length}})</span>
                                        </label>
                                        <ul *ngIf="district?.tehsils?.length" [(ngbCollapse)]="district.collapse">
                                            <li *ngFor="let tehsil of district.tehsils">
                                                <input type="checkbox" [(ngModel)]="tehsil.checked"
                                                    (ngModelChange)="onTehsilChange($event, tehsil)" [indeterminate]="tehsil.indeterminate">
                                                <label (click)="tehsil.collapse= !tehsil.collapse">
                                                    {{tehsil.tehsil_name}}
                                                    <span class="total"
                                                        *ngIf="tehsil?.blocks?.length">({{tehsil?.blocks?.length}})</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="">
                                    <th>Assign Pages</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let group of screens">
                                    <tr >
                                        <td colspan="12" *ngIf="!group.screen_id"><strong>{{group.group_name}}</strong></td>
                                        <ng-container *ngIf="group.screen_id">
                                            <td><strong>{{group?.screen_name}}</strong></td>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" [id]="group?.screen_id" [(ngModel)]="group.isActive">
                                                <label class="custom-control-label" [for]="group?.screen_id"></label>
                                              </div>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <ng-container *ngIf="group?.screens">
                                        <tr *ngFor="let screen of group.screens">
                                            <td>{{screen?.screen_name}}</td>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" [id]="screen?.screen_id" [(ngModel)]="screen.isActive">
                                                <label class="custom-control-label" [for]="screen?.screen_id"></label>
                                              </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                               </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 text-right">
                <button class="btn btn-success" (click)="onSubmit()" [disabled]="loading"> {{loading ? 'Loading...'
                    : 'Map User'}}</button>
            </div>
        </div>
    </div>
</div>