<div class="row">
  <ng-container *ngIf="loading && !isLoadedData">
    <div class="text-center">
      <div class="loader">
        <img class="img_rotate" src="{{assetsFolder}}/images/new_loader.gif" alt="loading">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="lookupLoader">
    <div class="col-12 bg-white rounded">
        <div class="row align-items-end justify-content-start">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'50px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
        </div>
    </div>

    <div class="col-12 bg-white rounded mt-4">
        <div class="row align-items-end justify-content-start">
            <div class="col-sm-12">
                <app-skeleton-loader [show]="true" [count]="1" [height]="'400px'" [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader>
            </div>
        </div>
    </div>
</ng-container>
  <div class="col-md-12" *ngIf="!lookupLoader">
    <div class="card p-2">
      <div class="filter-card-title" (click)="isFilterCollapsed = !isFilterCollapsed" [class.close-toggle]="isFilterCollapsed">
        <div>
            Apply Filters
        </div>
        <div class="toggle-img-area">
            <img src="{{assetsFolder}}/images/Nav_bar_close.svg" alt="toggle" class="toggle-img">
        </div>
    </div>
      <div class="card-body" [ngbCollapse]="isFilterCollapsed">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="form-group mb-0">
              <label>Survey <sup class="text-danger">*</sup></label>
              <select class="form-control" [(ngModel)]="selectedForm" (ngModelChange)="onSurveyChange($event)">
                <option value="">Select Survey</option>
                <option value="1">CHM</option>
                <option value="2">CLS</option>
                <option value="3">CCE</option>
                <option value="4">CHM Revisit</option>
                <option value="7">CCE Revisit</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="form-group mb-0">
              <label>Year <sup class="text-danger">*</sup></label>
              <select class="form-control" [(ngModel)]="selectedYear" (ngModelChange)="onYearSelect($event)">
                <option value="">Select Year</option>
                <option *ngFor="let data of yearData" [value]="data.id">{{data.year}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="form-group mb-0">
              <label>Season <sup class="text-danger">*</sup></label>
              <select class="form-control" [(ngModel)]="selectedSeason" (ngModelChange)="onSeasonSelect($event)">
                <option value="">Select Season</option>
                <option *ngFor="let data of seasonData" [value]="data.id">{{data.season_name}}</option>
              </select>
            </div>
          </div>
          <div *ngIf="projectContext === 'munichre' && userDetails?.user_role == 1" class="col-sm-12 col-md-3 col-lg-3">
            <div class="form-group mb-0">
              <label>Client <sup class="text-danger">*</sup></label>
              <select class="form-control" [(ngModel)]="singleClient" (ngModelChange)="onSingleClientChange($event)">
                <option value="">Select Client</option>
                <option *ngFor="let data of clientData" [value]="data.UNIT_ID">{{data.UNIT_NAME}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3" *ngIf="!['7'].includes(userDetails?.user_role)">
            <div class="p-fluid p-grid">
              <label for="" class="text-left">Agency <sup class="text-danger">*</sup></label>
              <p-multiSelect [options]="agencyData" [(ngModel)]="selectedAgency" (ngModelChange)="onAgencyChange($event)"
              defaultLabel="Select Agency" optionLabel="agency_name" title="Select Agency" optionValue="agency_id">
              </p-multiSelect>
            </div>
          </div>
          <ng-container *ngIf="!isStateLoading">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="form-group mb-0">
                <label>State <sup class="text-danger">*</sup></label>
                <select class="form-control" [(ngModel)]="singleState" (ngModelChange)="onSingleStateChange($event)">
                  <option value="">Select State</option>
                  <option *ngFor="let data of states" [value]="data.state_id">{{data.state_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="p-fluid p-grid">
                <label for="">District</label>
                <p-multiSelect [baseZIndex]="500" defaultLabel="All Districts" [showHeader]="true" [group]="true"
                  [options]="districts" [(ngModel)]="selectedDistrict" optionLabel="district_name"
                  (ngModelChange)="onDistrictChange($event)" [disabled]="!districts.length">
                  <ng-template let-group pTemplate="group">
                    <div class="p-d-flex p-ai-center">
                      <span>{{group.state_name}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="p-fluid p-grid">
                <label for="">Tehsil</label>
                <p-multiSelect [options]="tehsilOptions" [group]="true" [(ngModel)]="selectedTehsil" defaultLabel="Block"
                  optionLabel="tehsil_name" title="Select Block">
                  <ng-template let-group pTemplate="group">
                    <div class="p-d-flex p-ai-center">
                      <span>{{group.district_name}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="isStateLoading">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="pt-5 font-weight-bold">Locations are loading...</div>
            </div>
          </ng-container>
          <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="p-fluid p-grid">
              <label for="" class="text-left">Crop</label>
              <p-multiSelect [options]="cropsData" [(ngModel)]="selectedCrop" defaultLabel="Crop" optionLabel="crop"
                title="Select Crops" [disabled]="!deactiveField">
              </p-multiSelect>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3">
            <label for="">Date Range</label>
            <input type="text" name="daterange" displayFormat="DD MMM YYYY" format="DD MMM YYYY"
            #dateRangePicker [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges" [showClearButton]="true"
              [showCancel]="true" [linkedCalendars]="false" ngxDaterangepickerMd [(ngModel)]="selectedFromDate"
              class="form-control daterange" [locale]="localeValue" [hidden]="!selectedAgency?.length">
            <input type="text" class="form-control daterange" [value]="dateRangePicker.value" disabled [hidden]="selectedAgency?.length"/>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-2 col mt-4">
            <button class="btn btn_apply text-white mt-2" [disabled]="geoJsonLoading || loading" (click)="search()">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!lookupLoader">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <ng-container *ngIf="kmls?.length">
          <div class="row" *ngIf="!geoJsonLoading">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="row align-items-center">
                <div class="col-sm-12">
                  <strong>Records :- {{surveydata?.length}}</strong>
                </div>
                <div class="col-sm-12">
                  <strong>KMLs :- {{geoJsonData?.length}}</strong>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-right">
              <div class="w-100 text-right" *ngIf="surveyTextData">
                <button class="btn btn-sm btn-primary" [disabled]="geoJsonLoading" (click)="downloadStatus()">KML status data</button>
              </div>
              <div class="w-100 text-right my-1" *ngIf="surveyTextData">
                <button class="btn btn-sm btn-primary" [disabled]="geoJsonLoading" (click)="downloadGeoJson()">Download KML</button>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right" [class.mb-5]="showMap">
              <button class="btn btn-sm btn-primary" [disabled]="geoJsonLoading" (click)="showMap = !showMap">{{showMap ? 'Hide Map' : 'Show Map'}}</button>
            </div>
          </div>
          <div class="row" *ngIf="geoJsonLoading">
            <div class="col-12 text-center">
              <h4 class="text-success">
                Preparing KMLs...
              </h4>
            </div>
          </div>
          <ng-container *ngIf="showMap">
            <div *ngIf="geoJsonLoading" class="map-loader" [style.height]="height">
              <div class="w-100">
                Please wait kml points are rendering...
              </div>
            </div>
            <div class="map-downable-container">
              <app-leafletmap #leafletMap [locationData]="geoJsonData" [height]="height" mapType="geoJson"
                (pointClick)="mapPointClick($event)" [topoJsonName]="topoJsonName"
                [areaIds]="districtIds"></app-leafletmap>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!kmls?.length">
          <h5 class="text-center text-danger">
            {{loading ? 'Please wait data is loading' : isSearched ? 'No data available, please try with another filter combination' : 'Please select filter and search'}}
          </h5>
        </ng-container>
      </div>
    </div>
  </div>
</div>