.list-group-item {
  border-bottom: 1px solid #f2f2f2;
}
.download-btn {
  position: relative;
  text-align: right;
  z-index: 401;
  top: 5px;
  right: 5px;
}
.map-downable-container {
  margin-top: -30px;
}
.main-content-label {
  font-weight: 500;
  color: #3c4858;
  font-size: 14px;
  margin-bottom: 0rem;
  line-height: 1;
  text-transform: capitalize;
}
.tx-24 {
  font-size: 24px;
}
.text-primary {
  color: #6259ca !important;
}
.tx-20 {
  font-size: 15px;
}
.map_head_text {
  opacity: 1;
  font-size: 16px;
  color: #272b2e;
  font-weight: bold;
  text-align: center;
  font-family: "Open Sans";
  white-space: nowrap;
}

.tableData {
  height: 300px;
  overflow-y: scroll;
  display: block !important;
}

/* ::ng-deep.p-multiselect {
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
  width: 130px;
} */

.form-control.daterange {
  display: block;
  width: 130px;
  height: calc(1.5em + 0.75rem + 8px) !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

:host .map-loader {
  z-index: 9999;
  position: absolute;
  background: #e0e0e0a8;
  width: calc(100% - 33px);
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .map-loader>div {
  animation: blinker 1s linear infinite;
}

:host .p-multiselect {
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  width: 100%;
}
:host .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 7px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* :host .cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  top: 107px;
  left: 1245px;
  transform: translateY(13px);
} */

::ng-deep.md-drppicker.double {
  width: 634px !important;
  margin-left: -22px !important;
  margin-top: 0px !important;
}


::ng-deep.md-drppicker.ltr {
  direction: ltr;
  text-align: left;
  background: #fff;
}

::ng-deep.p-multiselect {
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  width: 100%;
}

::ng-deep .md-drppicker .clear-button .clear-icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  pointer-events: none;
  top: 0.125em;
  position: relative;
  display: none;
}
::ng-deep.md-drppicker.inline {
  position: relative;
  background: #fff;
  display: inline-block;
}
::ng-deep.md-drppicker .ranges ul li button {
padding: 8px 12px;
width: 100%;
background: 0 0;
border: none;
text-align: left;
cursor: pointer;
outline: 0;
}
::ng-deep.ranges > ul > li > button.active {
background-color: #e32027 !important;
color: #f8f9fa;
}
::ng-deep.md-drppicker td.start-date {
border-radius: 2em 0 0 2em;
}
::ng-deep.md-drppicker .calendar td, .md-drppicker .calendar th {
padding: 1px;
white-space: nowrap;
text-align: center;
min-width: 32px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

::ng-deep.md-drppicker td.start-date {
color: #fff;
background-color: #e32027 !important;
}
::ng-deep.md-drppicker td {
margin: 0.25em 0;
transition: 450ms cubic-bezier(.23,1,.32,1);
border-radius: 2em;
transform: scale(1);
}
::ng-deep.md-drppicker td, .md-drppicker th {
text-align: center;
border-radius: 4px;
white-space: nowrap;
cursor: pointer;
height: 2em;
width: 2em;
}

::ng-deep.md-drppicker td.end-date {
border-radius: 0 2em 2em 0;
}
::ng-deep.md-drppicker td.in-range {
border-radius: 0;
}
::ng-deep.md-drppicker .calendar td, .md-drppicker .calendar th {
padding: 1px;
white-space: nowrap;
text-align: center;
min-width: 32px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
::ng-deep.md-drppicker td.end-date {
color: #fff;
background-color: #e32027;
}
::ng-deep.md-drppicker td {
margin: 0.25em 0;
transition: 450ms cubic-bezier(.23,1,.32,1);
border-radius: 2em;
transform: scale(1);
}
::ng-deep.md-drppicker td, .md-drppicker th {
text-align: center;
border-radius: 4px;
white-space: nowrap;
cursor: pointer;
height: 2em;
width: 2em;
}

:host .filter-card-title {
  font-weight: 700!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.2;
    margin: -8px -8px;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px 6px 0px 0px;
    transition: all .5s ease-in-out;
    color: #fff;
    background-color: #858687;
}

:host .toggle-img-area {
    border: 2px solid;
    padding: 8px;
    height: 27px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #424345;
    transition: all .5s ease-in-out;
}

:host-context(.munichre) .filter-card-title.close-toggle {
    background-color: #175788;
}

:host-context(.saksham) .filter-card-title.close-toggle {
    background-color: #e32027;
}

:host .filter-card-title.close-toggle .toggle-img-area{
  border-color: #fff;
}

:host .filter-card-title .toggle-img {
  transition:  all .5s ease-in-out;
  filter: invert(1);
  transform: rotate(90deg);
}

:host .filter-card-title.close-toggle .toggle-img {
  filter: none;
  transform: rotate(271deg);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

:host .p-10-flex {
  flex: 0 0 10.1%;
  max-width: 10.1%;
}

:host .p-11-flex {
  flex: 0 0 11.1%;
  max-width: 11.1%;
}

:host .p-12-flex {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

:host .p-14-flex {
  flex: 0 0 14%;
  max-width: 14%;
}

:host .p-16-flex {
  flex: 0 0 16%;
  max-width: 16%;
}

:host .p-12-flex, .p-14-flex, .p-16-flex, .p-11-flex, .p-10-flex {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}



@media only screen and (max-width: 768px) {
  :host .p-12-flex {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  :host .p-10-flex {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  :host .p-11-flex {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  :host .p-14-flex {
    flex: 0 0 100%;
    max-width: 100%;
  }

  :host .p-16-flex {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
