.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload_btn {
  border: none;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #272b2e;
}

.upload_box {
  background: #fbfbfb;
  opacity: 0.8;
  border: 1px dashed rgba(39, 43, 46, 0.3);
  border-radius: 4px;
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.img_size {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #272b2e;
  opacity: 0.4;
  text-align: center;
}
.text-support {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #272b2e;
  opacity: 0.4;
}
/* .form-control.input_type{
    background: #f8f9fa;
    border: 1px solid #272b2e4d;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 35px;
  }
   */

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  opacity: 1;
  color: #272b2e !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #272b2e;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #272b2e;
}
.fixed-bottom1 {
  position: fixed;
  right: 0;
  bottom: -24px;
  left: 0;
  z-index: 1;
}
.btn-cancel {
  background: #ffffff;
  border: 1px solid #42a2bb;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #42a2bb;
}
.btn-next {
  font-family: Open Sans;
  font-style: normal;
  background: #42a2bb;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
.form-control.input_type {
  background: #fff;
  border: 1px solid #272b2e4d;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 35px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 10px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

::ng-deep.p-float-label .p-inputwrapper-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label input:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label textarea:focus ~ label {
  top: 0px !important;
  left: 15px !important;
  font-size: 12px !important;
  background: aliceblue !important;
}

::ng-deep.p-dropdown {
  background: #fff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
  margin-bottom: 35px;
}
::ng-deep.p-inputtext {
  margin: 0;
  width: 100%;
}

.text-danger {
  margin-top: -35px;
}

.text-danger-alert {
  color: #dc3545 !important;
}
.text-details{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #272B2E;
}
.box_bg{
  background: rgb(23 87 136 / 5%);
  border-radius: 6px;
}

.cover {
  width: 100%;
  height: 270px;
  background-color: white; /* optional */
  overflow: hidden;
}
.cover > img {
  width: 100%;
}


.file {
position: relative;
display: inline-block;
cursor: pointer;
height: 2.5rem;
}
.file input {
min-width: 14rem;
margin: 0;
filter: alpha(opacity=0);
opacity: 0;
}
.file-custom {
position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 5;
height: 2.5rem;
padding: .5rem 1rem;
line-height: 1.5;
color: #555;
background-color: #fff;
border: .075rem solid #ddd;
border-radius: .25rem;
box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
.file-custom:after {
content: "Choose file...";
}
.file-custom:before {
position: absolute;
top: -.075rem;
right: -.075rem;
bottom: -.075rem;
z-index: 6;
display: block;
content: "Browse";
height: 2.5rem;
padding: .5rem 1rem;
line-height: 1.5;
color: #555;
background-color: #eee;
border: .075rem solid #ddd;
border-radius: 0 .25rem .25rem 0;
}

/* Focus */
.file input:focus ~ .file-custom {
box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}