@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css");

body {
margin: 0;
}

.gallery-item {
margin: 5px;
}

:host-context(.munichre) .filter-card-title.close-toggle {
    background-color: #175788;
    color: #fff;
    font-weight: 600;
}

:host-context(.saksham) .filter-card-title.close-toggle {
    background-color: #e32027;
    color: #fff;
    font-weight: 600;
}

.toggle-img-area img {
    transform: rotate(270deg);
}

.toggle-img-area {
    border: 1px solid #fff;
    padding: 2px 10px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.filter-card-title.close-toggle .toggle-img-area {
    border-color: #fff;
}

.toggle-img-area {
    border: 2px solid;
    padding: 8px;
    height: 28px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #000;
    transition: all .5s ease-in-out;
}

.filter-card-title {
    font-weight: 700 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.2;
    margin: -8px -8px;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px 6px 0px 0px;
    transition: all .5s ease-in-out;
    color: #fff;
    background-color: #858687;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 6px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da!important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.md-drppicker.inline {
    position: relative;
    display: inline-block;
    background: #fff!important;
}
.md-drppicker.double {
    width: auto;
    background: #fff!important;
}

.btn_apply {
    background: #e32027bd;
    border-radius: 4px;
}
.mt-25px {
    margin-top: 28px!important;
}
.form-group {
    margin-bottom: 10px;
}
.text-black {
    color: #000;
}
.title_text {
    font-size: 17px;
    color: #272B2E;
    font-weight: 600;
}
.text-orange {
    color: orange;
}
.text-green{
    color: green;
}
.text-red{
    color: red;
}
.border-right  {
    border-right: 2px solid #000!important;
}
.p-datatable-header .input-group {
    position: relative;
    display: flex;
    flex-wrap: nowrap!important;
    align-items: stretch;
    width: 100%!important;
}
.btn-back {
    background-color: #c1c1c1;
    border-color: #c1c1c1;
    border-radius: 4px;
    /* padding: 0px 15px; */
}
.title_one {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600!important;
    font-size: 18px!important;
    line-height: 30px;
    color: #272B2E!important;
}
:host-context(.munichre) .tbl_bg_head{
    background: #497ba2!important;
    color: #fff;
}
:host-context(.saksham) .tbl_bg_head{
    background: #e32027!important;
    color: #fff;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-size: 16px;
    text-align: left;
    color: #fff;
}
.upload-box{
    width: 100%;
    min-height: 100px;
    border: 2px dashed;
    border-radius: 5px;
    border-color: #0005;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.upload-box .message-area {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000000a3;
    transition: all .3s ease-in-out;
}

.upload-box .uploadfield {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}

.text-grey.disabled-list {
    color: #C0504D;
    opacity: .6;
    padding-left: 0px;
    pointer-events: none !important;
    list-style-type: none;
    counter-reset: item-counter;
}

img.img-thumbnail {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}
  
.file-preview {
    margin-top: 10px;
}

.preview-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.preview-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}

.preview-item a {
    margin-right: 10px;
    text-decoration: none;
}
  
:host ::ng-deep p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
}

:host ::ng-deep.p-paginator .p-dropdown {
    position: absolute;
    bottom: 10px;
}

/* .custom-p-table ::ng-deep .p-paginator {
    display: none;
} */

.custom-p-table ::ng-deep .p-dropdown-panel {
    transform-origin: center bottom !important;
    top: auto !important;
    bottom: 38px;
    /* Adjust this value to position correctly */
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #ea5a5f;
    transition: width .6s ease;
}

.loader-dots {
    width: 50px;
    aspect-ratio: 7;
    --_g: no-repeat radial-gradient(circle closest-side, #e32027 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

:host ::ng-deep p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    text-align: left;
    padding: 1rem 1rem !important;
    border: 1px solid #e9ecef !important;
    border-width: 1px 1px 1px 1px !important;
    color: #495057;
    width: 150px !important;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
}

:host ::ng-deep.p-datatable .p-datatable-tbody>tr>td {
    text-align: left;
    padding: 1rem 1rem !important;
    border: 1px solid #e9ecef !important;
    border-width: 1px 1px 1px 1px !important;
    color: #495057;
    width: 150px !important;
    /* background: #f8f9fa; */
    transition: box-shadow 0.2s;
}

:host ::ng-deep.p-paginator .p-dropdown {
    position: absolute;
    bottom: 10px;
}

/* .custom-p-table ::ng-deep .p-paginator {
    display: none;
} */

.custom-p-table ::ng-deep .p-dropdown-panel {
    transform-origin: center bottom !important;
    top: auto !important;
    bottom: 38px;
    /* Adjust this value to position correctly */
}