    
<ng-container *ngIf="loading">
    <div class="text-center">
        <div class="loader">
            <img class="img_rotate" src="{{assetsFolder}}/images/new_loader.gif">
        </div>
    </div>
</ng-container>

<ng-template #progressContent let-modal>
	<div class="modal-body pb-4">
		<ng-container *ngIf="isUploading">
            <div class="row">
                <div class="cols-sm-12 col-md-12 col-lg-12">
                   <div class="card shadowNone mb-0">
                        <div class="card-body">
                            <div class="d-flex justify-content-center align-items-center">
                                <div><h3 class="title-upload text-center mb-2 mx-1">Uploading Records </h3> </div>
                                <div class="loader-dots"></div>
                            </div>
                            <div class="progress mb-1" style="height: 15px;">
                              <div
                                class="progress-bar progress-bar-striped progress-bar-animated"
                                role="progressbar"
                                [style.width]="progress + '%'"
                                aria-valuenow="progress"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              >
                                {{ progress }}%
                              </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div><h5 class="font-14px">Total records to upload: <strong>{{totalUploadRecords}}</strong></h5></div>
                                <div><h5 class="font-14px">Records uploaded:  <strong>{{uploadedRecords}}</strong></h5></div>
                            </div>

                            <div><p class="font-14px mb-0 text-left mt-1"><i>Note*: Please do not reload the page as uploading is in process. </i></p></div>

                        </div>
                   </div>
                </div>
           </div>         
        </ng-container>
	</div>
	<!-- <div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button>
	</div> -->
</ng-template>

<!-- <button class="btn btn-primary" (click)="uploadPopUp()">Upload popup</button> -->

<div class="card p-2">
    <div class="card-header bg-white">
        <h3 class="title">CLS Intimation Upload</h3>
    </div>
    <div class="card-body" *ngIf="!failedIntimations?.length">
        <div class="row" *ngIf="!isLookupLoaded">
            <div class="col-sm-12"> <app-skeleton-loader [show]="true" [count]="1" [height]="'75px'" [padding]="'1px'"
                    [margin]="'1px'"></app-skeleton-loader></div>
            <div class="col-sm-12 mt-4"> <app-skeleton-loader [show]="true" [count]="10" [height]="'25px'"
                    [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader></div>
            <div class="col-sm-12 mt-4"> <app-skeleton-loader [show]="true" [count]="10" [height]="'25px'"
                    [padding]="'1px'" [margin]="'1px'"></app-skeleton-loader></div>
        </div>
        <div class="row" *ngIf="isLookupLoaded">
            <div class="col-sm-12">
                <div class="upload-box">
                    <div class="message-area">
                        <div class="h4">
                            Upload or Drag file here
                        </div>
                        <small *ngIf="fileName">{{fileName}} file is selected</small>
                    </div>
                    <input #fileEle type="file" name="upload-file" id="upload-file" class="uploadfield" accept=".csv"
                        (click)="onFileEleClick(fileEle)" (change)="onFileChange($event)">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                        <a [href]="assetsFolder + '/data/cls_intimation_template.csv'" class="font-weight-bold">Download Template</a>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                        <p-accordion class="mt-3">
                            <p-accordionTab header="Note/Instruction to follow:">
                                <ul class="text-grey disabled-list">
                                    <li> Please make sure to provide the location data till the IU level mentioned. </li>
                                    <li>All the date formats should be in YYYY-MM-DD.</li>
                                    <li>Make sure to copy-paste properly without any additional spaces in the cells. </li>
                                    <li>Make sure to use the lookups tables provided, if the name doesn't match the system won't allow it.</li>
                                    <li>The intimation number should be unique and will be stopped while uploading if it is duplicated. </li>
                                    <li>Make sure all the conditions satisfy for records to successfully upload.</li>
                                    <li>Do not create or delete the columns in this sheet.</li>
                                    <li>Make sure the file does not contain more than 8,000 records.</li>
                                </ul>
                            </p-accordionTab>
                        </p-accordion>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body" *ngIf="failedIntimations?.length">
        <div class="row">
            <div class="col-sm-12 text-right">
                    <button class="btn btn_apply text-white" (click)="downloadFaileds()">Download</button>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <p-table #dt [value]="failedIntimations" [columns]="fileHeaders" [scrollable]="true" [style]="{width:'100%'}"
                        scrollHeight="400px" [showCurrentPageReport]="true" [paginator]="true" [rows]="100"
                        [rowsPerPageOptions]="[5, 10, 25, 50, 100]">

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <tH>{{col.header}}</tH>
                                </ng-container>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-row let-columns="columns">
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <ng-container *ngSwitchCase="'state'">
                                            <td>{{stateMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'district'">
                                            <td>{{districtMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'block'">
                                            <td>{{blockMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'ri_circle'">
                                            <td>{{riCircleMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'grampanchayat'">
                                            <td>{{grampanchayatMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'village'">
                                            <td>{{villageMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'iu_level'">
                                            <td>{{iuLevelMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'crop'">
                                            <td>{{cropMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'int_year'">
                                            <td>{{yearMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'season'">
                                            <td>{{seasonMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchDefault>
                                            <td>{{row[col.field]}}</td>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="p-2 text-danger border">
                    <span class="font-weight-bold">Note :- </span>
                    <span>The above record's intimation IDs already exist in the system!</span>
                </div>
            </div>
            <div class="col-sm-12 text-right">
                <button class="btn btn_apply text-white mt-3" (click)="clearFailed()">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="card p-2" *ngIf="fileData?.length">
    <div class="card-header bg-white">
        <h3 class="title">Valid Records</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <p-table #dt [value]="fileData" [columns]="fileHeaders" [scrollable]="true" [style]="{width:'100%'}"
                        scrollHeight="400px" [showCurrentPageReport]="true" [paginator]="true" [rows]="recordsPerPage"
                        [rowsPerPageOptions]="[5, 10, 25, 50, 100]" [currentPageReportTemplate]="page_text" 
                        class="custom-p-table" (onPage)="onPageTrigger($event)">

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <tH>{{col.header}}</tH>
                                </ng-container>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-row let-columns="columns">
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <ng-container *ngSwitchCase="'state'">
                                            <td>{{stateMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'district'">
                                            <td>{{districtMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'block'">
                                            <td>{{blockMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'ri_circle'">
                                            <td>{{riCircleMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'grampanchayat'">
                                            <td>{{grampanchayatMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'village'">
                                            <td>{{villageMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'iu_level'">
                                            <td>{{iuLevelMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'crop'">
                                            <td>{{cropMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'int_year'">
                                            <td>{{yearMapping[row[col.field]]}}</td>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'season'">
                                            <td>{{seasonMapping[row[col.field]]}}</td>
                                        </ng-container>
                                        
                                        <ng-container *ngSwitchDefault>
                                            <td>{{row[col.field]}}</td>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                <button class="btn btn_apply text-white mt-3" [disabled]="submitting" (click)="onSubmit()">{{submitting ?
                    'Loading...' :'Submit'}}</button>
            </div>
        </div>
    </div>
</div>

<div class="card p-2" *ngIf="invalidFileData?.length">
    <div class="card-header bg-white">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h3 class="title">In-Valid Records</h3>
            </div>
            <div>
                <button class="btn btn_apply text-white" (click)="downloadInvalids()">Download</button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <p-table #dt [value]="invalidFileData" [columns]="fileHeaders" [scrollable]="true"
                        [style]="{width:'100%'}" scrollHeight="450px" [showCurrentPageReport]="true"
                        [showCurrentPageReport]="true" [paginator]="true" [rows]="invalidRecordsPerPage"
                        [rowsPerPageOptions]="[5, 10, 25, 50, 100]" [currentPageReportTemplate]="invalid_page_text" 
                        class="custom-p-table" (onPage)="invalidOnPageTrigger($event)">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <th>{{col.header}}</th>
                                </ng-container>
                                <th>Remark</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-row let-columns="columns">
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <ng-container *ngSwitchCase="'state'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}</td>
                                            <ng-template #validCell>
                                                <td>{{stateMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'district'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}
                                            </td>
                                            <ng-template #validCell>
                                                <td>{{districtMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'block'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}
                                            </td>
                                            <ng-template #validCell>
                                                <td>{{blockMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'ri_circle'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}
                                            </td>
                                            <ng-template #validCell>
                                                <td>{{riCircleMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'grampanchayat'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}
                                            </td>
                                            <ng-template #validCell>
                                                <td>{{grampanchayatMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>
                                        
                                        <ng-container *ngSwitchCase="'village'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}
                                            </td>
                                            <ng-template #validCell>
                                                <td>{{villageMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'iu_level'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}
                                            </td>
                                            <ng-template #validCell>
                                                <td>{{iuLevelMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'crop'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}</td>
                                            <ng-template #validCell>
                                                <td>{{cropMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'int_year'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}</td>
                                            <ng-template #validCell>
                                                <td>{{yearMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'season'">
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}</td>
                                            <ng-template #validCell>
                                                <td>{{seasonMapping[row[col.field]]}}</td>
                                            </ng-template>
                                        </ng-container>

                                        

                                        <ng-container *ngSwitchDefault>
                                            <td class="bg-danger text-white"
                                                *ngIf="row.errors[col.field]; else validCell">{{row[col.field]}}
                                            </td>
                                            <ng-template #validCell>
                                                <td>{{row[col.field]}}</td>
                                            </ng-template>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <td> <ol>
                                  <li class="text-danger" *ngFor="let text of row.remark">{{text}}.</li>  
                                </ol>
                            </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>
    </div>
</div>