.skeleton-loader {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skeleton-loader__item {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #f5f5f5;
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite alternate;
  }
  
  @keyframes pulse {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  }

  .skeleton-loader.progress {
    width: 100%;
    height: auto;
    border-radius: 0;
    /* overflow: hidden; */
    
    /* position: relative; */
    background-color: linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,.6),rgba(255,255,255,0));
    opacity: 0.3;
  }
  
  .bar {
    background-color: #ddd;
    border-radius: 4px;
    margin: 10px 0px;
    height: 50px;
    width: 5px;
    /* position: absolute; */
    /* left: 0;
    top: 0; */
    -webkit-animation: progress 3s infinite;
    animation: progress 3s infinite;
    transform-origin: left;
    transition: all 3s ease;
}
  
  /* @keyframes progress {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  } */
  
/* .skeleton-loader {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background: #eff1f6 no-repeat;
    border-radius: 4px;
    width: 100%;
    height: 20px;
    display: inline-block;
    margin-bottom: 10px;
    will-change: transform
}

.skeleton-loader:after,
.skeleton-loader:before {
    box-sizing: border-box
}

.skeleton-loader.circle {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%
}

.skeleton-loader.progress,
.skeleton-loader.progress-dark {
    transform: translate(0)
}

.skeleton-loader.progress:after,
.skeleton-loader.progress:before,
.skeleton-loader.progress-dark:after,
.skeleton-loader.progress-dark:before {
    box-sizing: border-box
}

.skeleton-loader.progress:before,
.skeleton-loader.progress-dark:before {
    -webkit-animation: progress 2s ease-in-out infinite;
    animation: progress 2s ease-in-out infinite;
    background-size: 200px 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    content: ""
}

.skeleton-loader.progress:before {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .6), rgba(255, 255, 255, 0))
}

.skeleton-loader.progress-dark:before {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .2), transparent)
}

.skeleton-loader.pulse {
    -webkit-animation: pulse 1.5s cubic-bezier(.4, 0, .2, 1) infinite;
    animation: pulse 1.5s cubic-bezier(.4, 0, .2, 1) infinite;
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

@media (prefers-reduced-motion: reduce) {

    .skeleton-loader.pulse,
    .skeleton-loader.progress-dark,
    .skeleton-loader.progress {
        -webkit-animation: none;
        animation: none
    }

    .skeleton-loader.progress,
    .skeleton-loader.progress-dark {
        background-image: none
    }
} */

@-webkit-keyframes progress {
    0% {
        transform: translate(-200px)
    }

    to {
        transform: translate(calc(200px + 100vw))
    }
}

@keyframes progress {
    0% {
        transform: translate(-200px)
    }

    to {
        transform: translate(calc(200px + 100vw))
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1
    }

    50% {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes pulse {
    0% {
        opacity: 1
    }

    50% {
        opacity: .4
    }

    to {
        opacity: 1
    }
}