.editDashboardData .form-control {
    background: #f8f9fa;
    border: 1px solid #272b2e4d;
    box-sizing: border-box;
    border-radius: 4px;
}

.editDashboardData .form-group {
    margin-bottom: 10px;
}

.cursor {
    cursor: pointer;
}

label {
    display: inline-block;
    margin-bottom: .3rem;
    font-size: 14px;
}