::ng-deep.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #e32027!important;
  }

  ::ng-deep.form-control option:hover {
    background-color: #e32027!important;
  }