<div class="row mb-4">
    <div class="col-sm-12 col-md-12 co-lg-12">
        <h4 class="title">{{title}}</h4>
    </div>
</div>
<app-survey-wise-data [surveyName]="surveyName" [dataPurpose]="dataPurpose" [searchPurpose]="searchPurpose" [surveyId]="surveyId" [canApprove]="canApprove" [canReject]="canReject" [canPending]="canPending" [parentSurveyId]="parentSurveyId" [showApproveColumn]="showApproveColumn" [excelDownloadPurpose]="excelDownloadPurpose" [showDateType]="showDateType" [showCrop]="showCrop" [showInactiveUser]="showInactiveUser" [surveyStatus]="surveyStatus" [canViewData]="canViewData"></app-survey-wise-data>