.contain {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    width: 100%;
    top:80px;
    bottom:50px;
    right:50px;
    max-width: 415px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-left: 125px;
  }
  
  .form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .otp {
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-top: 20px;
    
  }
  
  
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
    color: #fff;
  }
  
  .btn-success:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    margin-top: 15px;
  }
  
  .btn-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  ::ng-deep.wrapper {
    margin-top: 20px;
    
    width: 100%;
}
.form-control.input-phone{
width: 341px!important;
height: calc(1.5em + 0.75rem + 10px)!important;
}
::ng-deep.otp-input{
  width: 45px!important;
  height: 45px!important;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  text-align: center;
  font-size: 20px!important;
}


::ng-deep.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 10px)!important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.timer {
  margin-left: 10px;
  font-size: 12px;
  color: gray;
}


.reset{
  color: #333; 
  font-family: Arial, sans-serif; 
  font-size: 24px; 
  font-weight: bold; 
  
}


