

   <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form  (ngSubmit)="sendOTP()" *ngIf="!showPasswordChangeContainer">
              <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control input-phone" placeholder="Enter Phone Number" [(ngModel)]="phoneNumber" name="phoneNumber" minlength="10" maxlength="15" [disabled]="disablePhoneNumber">
              </div>
              
              <div class="button-group d-flex justify-content-between">
                <div>
                  
                  <button *ngIf="showSendOTP" class="btn btn-success  signup"  [disabled]="phoneNumber === undefined || phoneNumber === '' || disableSendOTP || isSendingOTP" >{{isSendingOTP ? 'Loading...' :'Send OTP'}}</button> 
                </div>
                <div>
                  <p *ngIf="resendTimer > 0"> <span>{{ resendTimer }}</span> seconds.</p>
                  <button *ngIf="showResendOTP" class="btn btn-primary mt-0" [disabled]="isSendingOTP" (click)="resendOTP()" >{{isSendingOTP ? 'Loading...' :'ResendOTP'}}</button>
                  
                </div>
               
 
              </div>
              <div id="sign-in-button"></div>
              <div class="otp mt-0" *ngIf="showOTPVerification">
                <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                <div class="mt-0">
                  <button class="btn btn-success mt-4" [disabled]="otp === undefined || otp.length !== 6 || isSendingOTP" (click)="handleClick()">{{isSendingOTP ? "Loading..." : "Verify OTP"}}</button>
                </div>
              </div>
            </form>
  
            <form *ngIf="showPasswordChangeContainer" (ngSubmit)="changePassword()">
              <h2 class="reset">Reset Your Password</h2>
              <div class="form-group mt-3">
               
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
                
              </div>
              <div class="form-group">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
              </div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="isSendingOTP">{{isSendingOTP ? "Loading..." :"Reset Password"}}</button>
              <p class="error-message" *ngIf="passwordError">{{ passwordError }}</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  
