<ng-container *ngIf="loading">
    <div class="text-center">
        <div class="loader">
            <img class="img_rotate" src="{{assetsFolder}}/images/new_loader.gif">
        </div>
    </div>
</ng-container>

<div class="row">
    <div class="col-sm-12 col-md-12 co-lg-12">
        <h4 class="title">Pending Data</h4>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="i" *ngFor="let data of surveys; let i = index">
                <a ngbNavLink>{{data.title}}</a>
                <ng-template ngbNavContent>
                    <app-survey-wise-data [surveyName]="data.title" dataPurpose="get_pending_surveydata" [surveyId]="data.id" [canApprove]="true" [canReject]="true" [canPending]="false" [parentSurveyId]="data.parent_form"></app-survey-wise-data>
                </ng-template>
            </li>
        </ul>

        <div class="card1 mt-4">
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>