::ng-deep.p-multiselect {
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    user-select: none;
    width: 100%;
    border: 1px solid rgb(39 43 46 / 30%);
}
::ng-deep.p-inputtext {
    margin: 0;
    width: 100%;
}
::ng-deep label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 14px;
    color: #175788;
}
::ng-deep .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 6px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(39 43 46 / 30%);
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}