/* .pos-profile{
    position: absolute;
    left: 48px;
    top: 12px;
  } */
  .relative-pos{
    position: absolute;
    left: 40px
  }
  .pos-profile {
    position: absolute;
    left: 13px;
    top: 12px;
}
  .profile-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #272B2E;
  }
  .profile-sub-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #272B2E;
    opacity: 0.8;
  }
  .profile-text-right{
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #272B2E;
    opacity: 0.8;
  }
  .text-pass{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #175788;
  }
  .text-contact{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #272B2E;
  }
  .mt-245px{
    margin-top: 245px;
  }
  .text-details{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #272B2E;
  }
  .box_bg{
    background: rgb(23 87 136 / 5%);
    border-radius: 6px;
  }

  .cover {
    width: 100%;
    height: 270px;
    background-color: white; /* optional */
    overflow: hidden;
 }
 .cover > img {
    width: 100%;
 }


 .file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}
.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.file-custom:after {
  content: "Choose file...";
}
.file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: .075rem solid #ddd;
  border-radius: 0 .25rem .25rem 0;
}

/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

::ng-deep.p-multiselect {
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  width: 100%;
  margin: 5px;
}

.profile-tab {
  border: 1px solid #f6f6f6;
  padding: 10px;
  margin: 0px 1px;
  cursor: pointer;
  transition: .1s all ease-in;
  width: 100%;
}
.profile-tab:hover {
  background-color: #0074d9;
  color: #fff;
  border: 1px solid #0074d9;
}

.profile-tab.active {
  background-color: #175788 ;
  color: #fff;
  padding: 10px;
  border: 1px solid #175788;
}

